<% include partials/header.ejs %>
<div class="ui main text container segment">
  <div class="ui huge header">Express Blog App</div>
    <div class="ui top attached segment">
            <div class="ui divided items">
                <% posts.forEach(function(post){ %>
                <a href="/posts/<%=post._id%>" class="ui header"><%=post.title%></a>
                        <div class="item">
                            <div class="image">
                                <img class="ui centered rounded image" src="<%=post.image%>" >
                            </div>
                            <div class="content">
                                <div class="meta">Created in : <%=post.create.toDateString()%></div>
                                <p><%=post.body.substring(0,100)%>.....</p>
                                <div class="extra">
                                        <a class="ui inverted blue button" href="/posts/<%= post._id%>">
                                            Read More <i class="align left icon"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        
                <% }); %>
            </div>
        </div>
    </div>

<% include partials/footer.ejs %>


