<% include partials/header%>
    <div class="ui main text container segment">
        <div class="ui huge header"><%=post.title%></div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%=post.image%>" >
                <div class="content">
                    <span>Created in : <%=post.create.toDateString()%></span>
                    <p><%-post.body%></p>
                </div>
                <div>
                    <a href="/posts/<%=post._id%>/edit" class="ui inverted positive basic button">Edit Post</a>
                    <a href="#" class="ui inverted negative basic button">Delete Post</a>
                </div>
            </div>
        </div>
        
    </div>    

<% include partials/footer%>